@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  font: 62.5% "Open Sans", sans-serif;
  color: #222222;
}

a {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
